<html>
{% if login == False %}
<script src="http://code.jquery.com/jquery.min.js"></script>
<script type=text/javascript>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type=text/javascript>
function login() {
	$(function() {
		$.getJSON($SCRIPT_ROOT+'/trylogin', {
			id:$('#id').val(),
			pw:$('#pw').val()
		}, function(data) {
			if (data.result == "true") {
				location.href = "/"
			} else {
				alert("로그인에 실패하였습니다.")
			}
		})
	})
}
</script>
<style>
body {
	text-align:center;
}
#box {
	border: 1px solid black
}
</style>
<body>
<div id="box">
<title> 로그인 </title>
<h1> 로그인 </h1>
<p> 아이디 </p>
<input type="text", id="id">
<p> 비밀번호 </p>
<input type="password" id="pw">
<p> <button onclick="login()"> 로그인 </button> </p>
</div>
</body>
{% else %}
<script type=text/javascript>
location.href = "/"
</script>
{% endif %}
</html>