{% block menu %}
<style>
#menu ul {
	background-color: green;
	padding: 1px 5px 5px 1px;
	list-style-type:none;
}
#menu ul li {
	display:in line;
	border-left:1px solid #c0c0c0;
	padding: 0px 10px 0px 10px;
	margin: 5px 0px 5px 0px;
	color:#ffffff;s
	font-size:20pt;
}

#menu a {
	text-decoration:none;
	color:#ffffff;
}

#menu ul li:first-child {
	border-left:none;
	font-style:bold;
}

#menu button {
	float:right;
	padding: 0px 10px 0px 10px;
	margin: 5px 0px 5px 0px;
}	
</style>
<title> 넓은 산딸기 </title>
<div id="menu">
<ul style="list-style-type:none">
<li style="display:inline"><a href="/"> 넓은 산딸기 </a></li>
<li style="display:inline"><a href="/blog"> BLOG </a></li>
<li style="display:inline"><a href="/todo"> TODO </a></li>
<li style="display:inline"><a href="/pmeb"> PMEB </a></li>
{% endblock %}